*,
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color:#181818;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flow-root;
}
header {
    text-align: center;
    
    margin-bottom: 18%;
}
header .logo {
    margin-top: 5%;
    margin-bottom: 5%;
}
nav {

}
nav ul {

}
nav ul li {
    list-style: none;
    width: 25%;
    border: 1px solid wheat;
    float: left;
}

.main {
    width: 70%;
    float: left;
}

article {
    margin-bottom: 4%;
    background-color: #202020;
    padding: 2%;
    border: 14px solid #303030;
    
}

article h2 {
    margin-bottom: 0px;
}
article small {
    margin-top: 0px;
}

.posted-by {
    margin-top: 0;
    color: #C8C8C8;
}
.continue-reading {
    color: #B00000;
    text-decoration: underline;
}

aside {
    width: 28%;
    background-color:#303030;
    float: right;
}
aside img {
    max-width: 100%;
    margin: 0% 3% 6% 3%;
}
.ads {
    text-align: center;
}